# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Output folders
dist
dist-ssr

# Vite
.cache
.vitepress/dist
.vitepress/cache

# VSCode & IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Others
*.tsbuildinfo
.yarn-integrity
